[submodule "futarchy-indexer"]
	path = futarchy-indexer
	url = https://github.com/metaDAOproject/futarchy-indexer
[submodule "meta-dao-frontend"]
	path = meta-dao-frontend
	url = https://github.com/metaDAOproject/meta-dao-frontend
[submodule "futarchy"]
	path = futarchy
	url = https://github.com/metaDAOproject/futarchy
